
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" slogan="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/Content/Clients/style.css">
    <link rel="stylesheet" href="~/Content/Clients/base.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:12%">
        <a href="/Admin/Category/ListCategory" class="w3-bar-item w3-button">Thể loại</a>
        <a href="/Admin/Product/ListProduct" class="w3-bar-item w3-button">Sản phẩm</a>
        <a href="/Admin/Stats/Index" class="w3-bar-item w3-button">Thống kê</a>
        <a href="/Admin/cart/cart" class="w3-bar-item w3-button">Giỏ hàng</a>

        @*<div class="w3-dropdown-hover">
            <button class="w3-button">
                Dropdown
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="w3-dropdown-content w3-bar-block">
                <a href="#" class="w3-bar-item w3-button">Link</a>
                <a href="#" class="w3-bar-item w3-button">Link</a>
            </div>*@
        @*</div>*@
    </div>


    @*<div id="mySidenav" class="sidenav" style="width: 170px;">
            <a href="/Admin/Home/">Trang chủ</a>
            <a href="/Admin/Category/ListCategory">Thể loại</a>
            <a href="/Admin/Product/ListProduct">Sản phẩm</a>
            <a href="/Admin/Stats/Index">Thống kê</a>
            <a href="/Admin/cart/cart">Giỏ hàng</a>
        </div>*@

    <div style="margin-left:100px;">
        @RenderBody()
    </div>
    <!-- footer -->
    @*<footer class="footer">
            <div class="grid__auto">
                <div class="footer-flex">
                    <div class="footer__content">
                        <div class="footer__content-container">
                            <p>
                                Giao hàng mọi nơi trong thời gian nhanh nhất,
                                nhận hàng nhanh chóng. Hình ảnh chụp thật 100%,
                                đảm bảo sản phẩm đúng như hình đăng tải.
                                Liên hệ tư vấn nhanh chóng khi khách hàng đặt sản phẩm.
                            </p>
                        </div>
                    </div>

                    <div class="footer__contact">
                        <div class="footer__contact-container">
                            <h3>THÔNG TIN LIÊN HỆ</h3>
                            <p><i class="fa-solid fa-map-location-dot"></i>126 Nguyễn Văn Công</p>
                            <p><i class="fa-solid fa-phone"></i>Điện thoại:0971099313</p>
                        </div>
                    </div>
                </div>
                <div class="copyright">Copyright &copy; Wolf</div>
            </div>
        </footer>*@

    <script src="~/Content/Clients/js.js"></script>
    @RenderSection("scripts", required: false)


    </>
</body>
</html>
