@model QuanLiBanSach02.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="container w-50 p-3 border rounded bg-white">
        <h3 class="d-flex flex-row justify-content-around flex-wrap pb-2">Đăng ký</h3>
        <div class="row mx-auto" style="width:45%">
            <div class="pb-3">
                <div class="col-12">
                    <input class="w-100 rounded" style="height:40px" type="text" name="userName" placeholder="UserName" />
                </div>
            </div>
            <div class="pb-3">
                <div class="col-12">
                    <input class="w-100 rounded" style="height:40px" type="email" name="email" placeholder="Email" />
                </div>
            </div>
            <div class="pb-3">
                <div class="col-12">
                    <input class="w-100 rounded" style="height:40px" type="password" name="password" placeholder="Mật khẩu" />
                </div>
            </div>
            <div class="pb-1">
                <div class="col-12">
                    <input class="w-100 rounded" style="height:40px" type="password" name="password2" placeholder="Nhập lại mật khẩu" />
                </div>
            </div>
        </div>
        <div class="row mx-auto" style="width:45%">
            <div class="col-12">
                @Html.ValidationSummary()
            </div>
            <div class="col-4"></div>
            <div class="col-5">
                <button type="submit" class="btn btn-success">Đăng ký</button>
            </div>
            <div class="mx-5 my-2">Đã có tài khoản? <a href="/Account/Login">Đăng nhập</a></div>
        </div>
    </div>
}

